<!DOCTYPE html>
<html>
<head>
    <title>Address Manager</title>
    <meta charset="utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }
      
      th, td {
        text-align: left;
        padding: 8px;
        border-bottom: 1px solid #ddd;
      }
      
      tr:hover {
        background-color: #f5f5f5;
        cursor: pointer;
      }
      #alert-container {
        display: block;
    }
    .alert {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 10px;
      z-index: 100;
    }
    
    .alert-danger {
      background-color: #f8d7da;
      border-color: #f5c6cb;
      color: #721c24;
    }
    .hidden {
      display: none;
    }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
  
   
    <script src ="{{url_for('static',filename='scripts/script.js')}}"></script>
</head>
<body>
    <body>
        <div class="container h-100">
       
        
    <div class="row h-100 justify-content-center align-items-center">
      <h2>Address Search</h2>
      <div class="col-md-12" id='country'>
        <label for="countries">Select Countries:</label>
        <select class="form-select" multiple aria-label="multiple select" id = "country_codes">
            <option selected>Countries</option>
            <option value="US">United States</option>
            <option value="CA">Canada</option>
            <option value="DE">Germany</option>
            <option value="MX">Mexico</option>
            <option value="ES">Spain</option>
          </select>
        </div>
        <br>
        <br>
        <div class="col-10 col-md-8 col-lg-6" id ="form">
        <form class="form-row align-items-center" id ="address-search-form">
             
           
            <div class= "form-group hidden" id ="receipient">
           <!--<div class="col-md-10">-->
              <label for="receipientName" class="form-label" id = "recipientName"data-default-label="Recipient Name">Recipient Name</label>
              <input type="text" class="form-control form-control-lg" id="recipient_name" placeholder="James Miller" data-default-placeholder="James Edward">
            
        </div>
      
        <div class= "form-group hidden" id ='street_address'>
            <!--<div class="col-md-10">-->
              <label for="streetAddress" class="form-label"data-default-label="Street Address">Street Address</label>
              <input type="text" class="form-control form-control-lg" id="street"placeholder="1234 Main St" data-default-placeholder="1234 Main St">
          
          </div>
          <div class= "form-group hidden" id ='region_class'>
            <!--<div class="col-md-10">-->
              <label for="Region" class="form-label" data-default-label="Region">Region</label>
              <input type="text" class="form-control form-control-lg" id="region" placeholder="sub street" data-default-placeholder="sub street" >
            
        </div>
          <div class= "form-group hidden" id ='postal'>
            <!--<div class="col-md-10">-->
              <label for="inputZip" class="form-label" data-default-label="POstal Code">Postal Code</label>
              <input type="text" class="form-control form-control-lg" id="postal_code" placeholder="98040 or HKO MLP" data-default-placeholder="98040 or HKO MLP">
            
        </div>
        
            <div class= "form-group hidden" id='city_name'>
            <!--<div class="col-md-10">-->
              <label for="city" class="form-label" data-default-label="City">City</label>
              <input type="text" class="form-control form-control-lg" id="city" data-default-placeholder="Seattle">
         
        </div>
            <div class= "form-group hidden" id ='state_name'>
            <!--<div class="col-md-10">-->
              <label for="state" class="form-label"data-default-label="State">State/Province</label>
              <input type="text" class="form-control form-control-lg" id="state" data-default-placeholder="Arizona" >
         
          </div>
            <br>
            <div class= "form-group" id = 'button'>
            <div class="col-md-10">
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
          </form>
        </div>
    </div>
</div>
        <div id="address-results">
          <table id ="addresses"data-page-size="10">

          </table>
          <div id="pagination-container"></div>
        </div>
        <div ></div>
        <div id="alert-container">
          
        </div>
      
        </body>
        </html>
